<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960546930649-p9jp4ml17fip9nnqe71ukaba93qkclgs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960546930649-p9jp4ml17fip9nnqe71ukaba93qkclgs</string>
	<key>API_KEY</key>
	<string>AIzaSyAfiuAY-bJa_wSDh1ARbwPjhMkzwXxCZys</string>
	<key>GCM_SENDER_ID</key>
	<string>960546930649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.powerBi</string>
	<key>PROJECT_ID</key>
	<string>primeiro-projeto-dpm</string>
	<key>STORAGE_BUCKET</key>
	<string>primeiro-projeto-dpm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960546930649:ios:86aa6caf7be2ff9d1ae3c8</string>
</dict>
</plist>